.admin-container{
    align-items: center;
    display:flex;
    height: 90vh;
    width: 100%;
    background-image: url("../image/421225632_3544657515795412_694486870658111726_n.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.admin-card{
    padding: 10px;
    width: 100%;

    color: #fff;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.126);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(500px);
    margin:1%
}

